html, body, #app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.content-left {
    display: flex;
    justify-items: left;
}

.el-pagination {
    display: flex;
    justify-items: left;
}

/*面包屑*/
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

/* 卡片 */
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/* 表格、tab、分页 */
.el-table,.el-tabs,.el-pagination {
    margin-top: 15px;
}
